// Colors
$violetBg: hsl(263, 55%, 52%);
$grayishBg: hsl(217, 19%, 35%);
$darkBlueBg: hsl(219, 29%, 14%);
$whiteBg: hsl(0, 0%, 100%);

$lightGray: hsl(0, 0%, 81%);
$lightGrayBlue: hsl(210, 46%, 95%);

// Media queries
$mobile: 375px;
$tablet: 768px;
$desktop: 1024px;

// Typography
$primaryFont: "Barlow Semi Condensed", sans-serif;
