@use "../base/variables" as v;
@use "../base/mixins" as m;

.footer {
  text-align: center;
  color: v.$darkBlueBg;
  font-weight: 600;

  &__link {
    text-decoration: none;
    color: hsl(228, 45%, 44%);
  }
}